/***********************************************************



Sistema 2.0 - By Pcsignos 

Copyright © Pcsignos (www.pcsignos.com.ar)

Atención: Prohibida su reproducción parcial o total



************************************************************/

@import url("../images/lightbox.css");

@import url(
  http://fonts.googleapis.com/css?family=Roboto:400,
  300,
  100,
  500,
  700,
  900
);
@font-face {
  font-family: "univers_regular";

  src: url("../data/fuente/universltstd-cn-webfont.eot");

  src: url("../data/fuente/universltstd-cn-webfont.eot")
      format("embedded-opentype"),
    url("../data/fuente/universltstd-cn-webfont.woff") format("woff"),
    url("../data/fuente/universltstd-cn-webfont.ttf") format("truetype"),
    url("../data/fuente/universltstd-cn-webfont.svg#univers_regular")
      format("svg");

  font-weight: normal;

  font-style: normal;
}
@font-face {
  font-family: "univers_bold";

  src: url("../data/fuente/universcondensedbold.eot");

  src: url("../data/fuente/universcondensedbold.eot")
      format("embedded-opentype"),
    url("../data/fuente/universcondensedbold.woff") format("woff"),
    url("../data/fuente/universcondensedbold.ttf") format("truetype"),
    url("../data/fuente/universcondensedbold.svg#univers_bold") format("svg");

  font-weight: normal;

  font-style: normal;
} /*Reset*/

body {
  background: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p,
span {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

ul,
li {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

img {
  border: 0;
}

input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

a,
input,
select,
textarea,
img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.clear {
  clear: both;
}

.preloader {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  padding: 0px;
  margin: 0px;
  background: url(../imagenes/cargando.gif) no-repeat 50% 50%;
  position: absolute;
}

/*Cabecera*/

#c1 {
  width: 1140px;
  height: 180px;
  margin: 0 auto;
}

#c1 .m1 {
  width: 1140px;
  height: 102px;
}

#c1 .m1 .b1 {
  width: 228px;
  height: 102px;
  float: left;
}

#c1 .m1 .b1 a {
  width: 228px;
  height: 102px;
  float: left;
  background: url(../imagenes/logo.png) no-repeat left center;
  cursor: pointer;
}

#c1 .m1 .b2 {
  float: right;
  color: #757575;
  font-size: 14px;
  background: url(../imagenes/iconos/2.png) no-repeat left center;
  height: 15px;
  line-height: 15px;
  padding: 0 0 0 19px;
  margin: 43px 15px 0 0;
}

#c1 .m1 .b3 {
  float: right;
  color: #757575;
  font-size: 14px;
  background: url(../imagenes/iconos/1.png) no-repeat left center;
  height: 15px;
  line-height: 15px;
  padding: 0 0 0 22px;
  margin: 43px 15px 0 0;
}

#c1 .m1 .b4 {
  float: right;
  color: #757575;
  font-size: 14px;
  background: url(../imagenes/iconos/3.png) no-repeat left center;
  height: 15px;
  line-height: 15px;
  padding: 0 0 0 15px;
  margin: 43px 0 0 0;
}

#c1 .m1 .b5 {
  float: right;
  width: 16px;
  height: 15px;
  margin: 43px 5px 0 25px;
}

#c1 .m1 .b5 a {
  float: right;
  width: 16px;
  height: 15px;
  background: url(../imagenes/iconos/es.png) no-repeat left center;
}

#c1 .m1 .b5 a:hover {
  opacity: 0.5;
}

#c1 .m1 .b6 {
  float: right;
  width: 16px;
  height: 15px;
  margin: 43px 0 0 0;
}

#c1 .m1 .b6 a {
  float: right;
  width: 16px;
  height: 15px;
  background: url(../imagenes/iconos/en.png) no-repeat left center;
}

#c1 .m1 .b6 a:hover {
  opacity: 0.5;
}

#c1 .m2 {
  width: 1140px;
  height: 58px;
  float: left;
  background: #343434;
}

#c1 .m2 li {
  height: 58px;
  float: left;
}

#c1 .m2 li a {
  height: 58px;
  float: left;
  text-transform: uppercase;
  color: #fff;
  line-height: 58px;
  font-size: 14px;
  padding: 0 18px;
  font-family: "univers_regular";
}

#c1 .m2 li:hover > a {
  background: #00a3dd;
}

#c1 .m2 li a:hover {
  background: #00a3dd;
}

#c1 .m2 li ul {
  display: none;
  position: absolute;
  width: 202px;
  background: #343434;
  margin: 58px 0 0 0;
  z-index: 999;
}

#c1 .m2 li li {
  width: 202px;
  height: 35px;
}

#c1 .m2 li li a {
  width: 150px;
  line-height: 35px;
  text-transform: none;
  color: #fff;
  font-size: 14px;
  height: 35px;
  float: left;
  padding: 0 26px;
}

#c1 .m2 li.submenu:hover ul {
  display: block;
}

#c1 .m2 li.submenu a {
  background: url(../imagenes/iconos/4.png) no-repeat right 25px center;
  padding: 0 39px 0 26px;
}

#c1 .m2 li.submenu a:hover {
  background: #00a3dd url(../imagenes/iconos/4.png) no-repeat right 25px center;
}

#c1 .m2 li.submenu:hover > a {
  background: #00a3dd url(../imagenes/iconos/4.png) no-repeat right 25px center;
}

#c1 .m2 li.submenu li a {
  background: none;
  padding: 0 26px;
}

#c1 .m2 li.submenu li a:hover {
  background: #00a3dd;
}

#c1 .m2 li.contacto a {
  background: url(../imagenes/iconos/5.png) no-repeat left 20px center;
  padding: 0 26px 0 39px;
}

#c1 .m2 li.contacto a:hover {
  background: #00a3dd url(../imagenes/iconos/5.png) no-repeat left 20px center;
}

/*Home*/

#m1 {
  width: 1140px;
  height: 883px;
  margin: 0 auto;
}

#m1 #banner {
  width: 1140px;
  height: 450px;
  float: left;
  position: relative;
  margin: 0 0 15px 0;
}

#m1 .m1 {
  width: 478px;
  height: 418px;
  background: #fff;
  float: left;
  margin: 0 15px 0 0;
}

#m1 .m1 img {
  width: 478px;
}

#m1 .m1 h1 {
  padding: 0 15px;
  color: #009bdb;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 55px;
  height: 55px;
  overflow: hidden;
}

#m1 .m1 p {
  padding: 0 15px;
  color: #999;
  font-size: 13px;
  line-height: 16px;
  height: 64px;
  overflow: hidden;
}

#m1 .m1 a {
  padding: 0 15px;
  color: #999;
  font-size: 13px;
  line-height: 14px;
  margin: 20px 0 0 0;
  float: left;
}

#m1 .m2 {
  width: 557px;
  height: 328px;
  padding: 30px;
  background: #0199da;
  float: left;
  border: 15px solid #fff;
}

#m1 .m2 .b1 {
  width: 557px;
  color: #fff;
}

#m1 .m2 .b1 img {
  float: left;
  margin: 0 10px 30px 0;
}

#m1 .m2 .b1 h1 {
  font-size: 24px;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  margin: 0 0 10px 0;
}

#m1 .m2 .b1 p {
  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
  height: 28px;
}

#m1 .m2 .b2 {
  width: 557px;
  color: #fff;
  border-top: 1px solid #00a2de;
  border-bottom: 1px solid #00a2de;
  margin: 30px 0;
  padding: 30px 0;
}

#m1 .m2 .b2 img {
  float: left;
  margin: 0 10px 30px 0;
}

#m1 .m2 .b2 h1 {
  font-size: 24px;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  margin: 0 0 10px 0;
}

#m1 .m2 .b2 p {
  font-size: 13px;
  line-height: 14px;
  font-weight: 300;
  height: 28px;
}

#m2 {
  width: 100%;
  height: 182px;
  background: #009bdb;
  margin: 15px 0;
}

#m2 .m1 {
  width: 1140px;
  height: 182px;
  background: #009bdb;
  margin: 0 auto;
  text-align: center;
}

#m2 .m1 h1 {
  color: #fff;
  line-height: 110px;
  height: 110px;
  font-size: 50px;
  font-weight: 100;
}

#m2 .m1 a {
  border: 1px solid #fff;
  padding: 5px 30px;
  line-height: 40px;
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  display: inline-block;
}

#m2 .m1 a:hover {
  border: 1px solid #000;
  color: #000;
}

/*Productos*/

#m3 {
  width: 1110px;
  padding: 30px 0 30px 30px;
  background: #fff;
  margin: 0 auto 20px auto;
}

#m3 h1 {
  height: 36px;
  color: #a1a1a1;
  font-size: 48px;
  line-height: 36px;
  font-weight: 100;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}

#m3 img {
  width: 261px;
  /*  float: left;
  margin: 0 12px 30px 0; */
}

#m3 img:hover {
  opacity: 0.5;
}

#m3 td img {
  width: 50px;
  margin: 0 15px 0 0;
}

#m3 td img:hover {
  opacity: 1;
}

#m3 h2 {
  color: #222;
  font-size: 11px;
}

#m3 h2 b {
  color: #222;
  font-size: 14px;
}

#m3 td a {
  color: #222;
  font-size: 11px;
}

.productos-img {
  width: 164px !important;
  height: auto !important;
  padding: 50px;
}

/*Clientes*/

#m4 {
  width: 1138px;
  padding: 0;
  background: #fff;
  margin: 0 auto;
}

#m4 .m1 {
  text-align: center;
  width: 1079px;
  height: 46px;
  border-bottom: 1px solid #ddd;
  background: #f9f9f9;
  padding: 0 25px 0 34px;
  color: #999;
  font-size: 30px;
  font-weight: 100;
  line-height: 46px;
}

#m4 .m1 a.ant {
  width: 24px;
  height: 46px;
  background: url(../imagenes/iconos/9.jpg) left center no-repeat;
  float: right;
}

#m4 .m1 a.sig {
  width: 24px;
  height: 46px;
  background: url(../imagenes/iconos/10.jpg) left center no-repeat;
  float: right;
}

#m4 .m2 {
  width: 1104px;
  height: 78px;
  padding: 32px 34px 0 0;
}

#m4 .m2 li {
  width: 150px;
  height: 46px;
  float: left;
  padding: 0 0 0 34px;
}

/*Contacto*/

#m5 {
  width: 1140px;
  margin: 0 auto 20px auto;
}

#m5 .m1 {
  width: 1140px;
  height: 450px;
  float: left;
  margin: 0 0 15px 0;
}

#m5 .m2 {
  width: 502px;
  height: 580px;
  float: left;
  margin: 0 15px 0 0;
  text-align: center;
  background: #fff;
  padding: 30px;
}

#m5 .m2 h1 {
  font-size: 30px;
  line-height: 50px;
  margin: 0 0 30px 0;
  font-weight: 100;
  border-bottom: 1px solid #ddd;
  color: #222;
}

#m5 .m2 h2 {
  font-size: 16px;
  color: #000;
  font-weight: 300;
}

#m5 .m2 h3 {
  font-size: 16px;
  color: #808789;
  margin: 0 0 30px 0;
  font-weight: 300;
}

#m5 .m2 .b1 {
  width: 569px;
  height: 42px;
  text-align: center;
}

#m5 .m2 .b1 a {
  width: 42px;
  height: 42px;
  display: inline-block;
  border-radius: 30px;
  margin: 0 2px;
}

#m5 .m2 .b1 a.d1 {
  background: #999 url(../imagenes/iconos/15.png) no-repeat center center;
}

#m5 .m2 .b1 a.d2 {
  background: #999 url(../imagenes/iconos/16.png) no-repeat center center;
}

#m5 .m2 .b1 a.d3 {
  background: #999 url(../imagenes/iconos/17.png) no-repeat center center;
}

#m5 .m3 {
  width: 502px;
  height: 580px;
  float: left;
  text-align: center;
  background: #fff;
  padding: 30px;
}

#m5 .m3 h1 {
  font-size: 30px;
  line-height: 50px;
  margin: 0 0 30px 0;
  font-weight: 100;
  border-bottom: 1px solid #ddd;
  color: #222;
}

#m5 .m3 h2 {
  height: 26px;
  line-height: 26px;
  font-size: 13px;
  color: #222;
  margin: 10px 0 0 0;
  font-weight: 400;
}

#m5 .m3 h2 span {
  color: #eb340a;
}

#m5 .m3 h3 {
  color: #939598;
  font-size: 11px;
  font-weight: 500;
  margin: 35px 0 20px 0;
  line-height: 10px;
  height: 10px;
  font-style: italic;
}

#m5 .m3 input {
  width: 100%;
  height: 30px;
  border: 1px solid #939598;
  padding: 0;
  font-size: 13px;
  color: #333;
  text-indent: 5px;
}

#m5 .m3 .input-error {
  border: 1px solid #f00;
  color: #f00;
}

#m5 .m3 textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #939598;
  overflow: hidden;
  text-indent: 5px;
  padding: 5px 0;
  font-size: 12px;
  color: #333;
}

#m5 .m3 .b1 {
  height: 20px;
  line-height: 20px;
  color: #f00;
  font-size: 10px;
  display: none;
}

#m5 .m3 input[type="button"] {
  width: 80px;
  text-indent: 0;
  height: 38px;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  font-size: 14px;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

#m5 .m3 input[type="button"]:hover {
  border: 2px solid #000;
  color: #fff;
  background: #000;
}

/*Contenido*/

#m6 {
  width: 1080px;
  padding: 30px;
  background: #fff;
  margin: 0 auto 20px auto;
}

#m6 .m1 {
  width: 1080px;
}

#m6 .m1 img {
  width: 550px;
  margin: 0 40px 0 0;
  float: left;
}

#m6 .m1 h1 {
  height: 70px;
  color: #a1a1a1;
  font-size: 40px;
  line-height: 60px;
  font-weight: 100;
}

#m6 .m1 h2 {
  color: #222;
  font-size: 22px;
  margin: 0 0 10px 0;
}

#m6 .m1 p {
  font-size: 14px;
  color: #222;
  line-height: 18px;
  font-weight: 300;
}

#m6 .m1 .b1 {
  width: 1080px;
  /* height: 535px; */
}

#m6 .m1 .b1 .d1 {
  width: 490px;
  float: right;
  margin: 85px 38px 0 0;
  background: #fff;
  padding: 30px;
}

#m6 .m1 .b1 .d1 img {
  width: 490px;
  margin: 20px 0 0 0;
}

#m6 .m1 .b2 {
  width: 1080px;
  height: 535px;
}

#m6 .m1 .b2 .d1 {
  width: 490px;
  float: left;
  margin: 85px 0 0 38px;
  background: #fff;
  padding: 30px;
}

/*Nuestros trabajos*/

#m7 {
  width: 1080px;
  padding: 30px;
  background: #fff;
  margin: 0 auto 20px auto;
}

#m7 .m1 {
  width: 1080px;
}

#m7 .m1 h1 {
  height: 70px;
  color: #a1a1a1;
  font-size: 40px;
  line-height: 60px;
  font-weight: 100;
}

#m7 .m2 {
  width: 640px;
  height: 620px;
  background: #ddd;
  padding: 30px 220px;
}

#galeria .thumb-Holder {
  width: 640px;
  background: #ddd;
  padding: 15px 0;
}

#galeria .thumb {
  width: 100px;
  height: 60px;
  padding: 2px;
  margin-right: 5px;
}

#galeria .thumb .bg {
  background-color: #ddd;
}

#galeria .thumb-normal {
  background-color: #ddd;
}

#galeria .thumb-over {
  background-color: #444;
}

#galeria .thumb .tint-normal {
  background-image: none;
}

#galeria .thumb .tint-over {
  background-image: url(../thumb_over.png);
  background-position: center;
}

#galeria .thumb-next-previous-normal {
  opacity: 1;
  filter: alpha(opacity=100);
  background: #ddd;
}

#galeria .thumb-next-previous-over {
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: #ddd;
}

#galeria {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#galeria .nonDraggable {
  cursor: auto;
}

/*Scroll Ficha*/

#scrol_ficha {
  margin: 0;
  height: 218px;
  width: 490px;
  float: left;
}

#scrol_ficha .customScrollBox {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#scrol_ficha .customScrollBox .container {
  position: absolute;
  width: 460px;
  top: 0;
  float: left;
}

#scrol_ficha .customScrollBox .contenido {
  clear: both;
}

#scrol_ficha .dragger_container {
  position: relative;
  width: 5px;
  height: 218px;
  float: right;
  margin: 0 0 0 5px;
  background: #efefef;
  cursor: pointer;
}

#scrol_ficha .dragger {
  position: absolute;
  width: 5px;
  height: 50px;
  background: #ccc;
  margin: 0 0 0 0;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

#scrol_ficha .dragger_pressed {
  position: absolute;
  width: 5px;
  height: 50px;
  background: #ccc;
  margin: 0 0 0 0;
  overflow: hidden;
  cursor: s-resize;
}

/*Footer*/

#footer {
  width: 1138px;
  height: 390px;
  margin: 0 auto 20px auto;
  border: 1px solid #ddd;
  background: #fff;
}

#footer .m1 {
  width: 1103px;
  height: 257px;
  padding: 50px 0 0 35px;
}

#footer .b1 {
  width: 286px;
  height: 257px;
  float: left;
}

#footer .b1 h1 {
  height: 48px;
  background: url(../imagenes/iconos/4.jpg) no-repeat;
  padding: 48px 0 0 0;
  line-height: 48px;
  font-size: 18px;
  color: #555;
  font-family: "univers_regular";
}

#footer .b1 a {
  font-size: 12px;
  color: #555;
  line-height: 18px;
  display: block;
}

#footer .b1 a:hover {
  color: #009bdb;
}

#footer .b2 {
  width: 360px;
  height: 257px;
  float: left;
}

#footer .b2 h1 {
  height: 48px;
  background: url(../imagenes/iconos/5.jpg) no-repeat;
  padding: 48px 0 0 0;
  line-height: 48px;
  font-size: 18px;
  color: #555;
  font-family: "univers_regular";
}

#footer .b2 iframe {
  border: 1px solid #ddd;
}

#footer .b3 {
  width: 255px;
  height: 257px;
  float: left;
}

#footer .b3 h1 {
  height: 48px;
  background: url(../imagenes/iconos/6.jpg) no-repeat;
  padding: 48px 0 0 0;
  line-height: 48px;
  font-size: 18px;
  color: #555;
  font-family: "univers_regular";
}

#footer .b3 p {
  color: #666;
  font-size: 12px;
  line-height: 16px;
}

#footer .b3 p span {
  color: #000;
}

#footer .b4 {
  width: 202px;
  height: 257px;
  float: left;
}

#footer .b4 h1 {
  height: 48px;
  background: url(../imagenes/iconos/7.jpg) no-repeat;
  padding: 48px 0 0 0;
  line-height: 48px;
  font-size: 18px;
  color: #555;
  font-family: "univers_regular";
}

#footer .b4 p {
  color: #666;
  font-size: 12px;
  line-height: 16px;
}

#footer .m2 {
  width: 1070px;
  height: 82px;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
  padding: 0 35px;
}

#footer .m2 .b1 {
  width: 893px;
  height: 82px;
  line-height: 82px;
  float: left;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "univers_regular";
}

#footer .m2 .b1 a {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "univers_regular";
  display: inline-block;
}

#footer .m2 .b2 {
  width: 87px;
  height: 82px;
  float: right;
}

#footer .m2 .b2 a {
  width: 87px;
  height: 82px;
  float: left;
  background: url(../imagenes/signos.png) no-repeat left center;
}

#scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#scroll a {
  width: 36px;
  display: block;
}

#scroll a:hover {
  color: #000;
}

#scroll span {
  width: 36px;
  height: 36px;
  display: block;
  background: url(../imagenes/bg-top.png) no-repeat;
}

#scroll a:hover span {
  background: url(../imagenes/bg-top.png) no-repeat left -36px;
}
/* 
REPRESENTACIONES */

.representaciones-box {
  width: auto !important;
}
.representaciones-box img {
  width: auto !important;
  float: none !important;
  max-height: 90px;
  margin: 0 0 0 0 !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.representaciones-box p {
  padding: 15px;
}

.box-last {
  grid-row-start: 4;
  grid-column-end: 3;
}

.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px 5px;
}
